.box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* Add space between boxes */
}

.box i {
    font-size: 24px;
    /* Size for icons */
    margin-right: 10px;
    /* Space between icon and text */
}

.container {
    margin-bottom: 10px;
}